<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PastPaperHub</title>
    <link rel="icon" href="/static/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <a href="/home"><h1>PastPapersHub</h1></a>
    <hr>
{% block content %}{% endblock %}
</body>
<footer>
    <hr>
    <p>“Education is the most powerful weapon which you can use to change the world. It opens doors of opportunity, breaks the cycle of poverty, and empowers individuals to build better lives — not just for themselves but for entire communities and future generations.”</p>
    <p>-Nelson Mandela</p>
</footer>
</html>